@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

/* Временная подсветка
div, ul, li {
  outline: 1px solid red
}
*/

html {
height: 100%;
}

body {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #ffffff;
  position: relative;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

/*НОРМАЛИЗАЦИЯ ТЕГА IMG*/
img {
  max-width: 100%;
  display: block;
  height: auto;
  overflow: hidden;
  user-select: none;
  object-fit: contain;
  object-position: center;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-container {
  width: 1280px;
  margin: 0 auto;
  padding: 0 40px;
  box-sizing: border-box;
  background-color: #F2F2F2;
}

.page-header {
  color: #000000;
  background-color: #FFFFFF;
}

.navigation {
  display: flex;
  margin: 0 auto;
  align-items: center;
}

.navigation-logo {
  margin-left: 70px;
  margin-right: 30px;
}

.navigation-list {
  margin: 0;
  padding: 0;
}

.navigation-item {
  list-style-type: none;
  display: inline;
}

.navigation-user {
  padding: 0;
  margin: 0;
  margin-left: auto;
  margin-right: 70px;
}

.navigation-link {
  text-decoration: none;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
}

/*ВСЕ КОРИЧНЕВЫЕ КНОПКИ*/
.button {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #756157;
  border-radius: 4px;
}

.main-wrapper {
  flex-grow: 1;
  background-color: #FFFFFF;
}

.page-wrapper {
  margin: 0 auto;
}

.main-logo {
  display: block;
  margin: 0 auto;
}

.page-hero-logo {
  background-image: url("../images/hero-background.jpg");
  background-repeat: no-repeat;
  background-color: #82B3D3;
  width: 1200px;
  height: 485px;
  position: relative;
}

/*ЛЕСЕНКА*/
.page-hero-logo::after {
  content: "";
  display: block;
  width: 100%;
  height: 57px;
  background-image: url("../images/hero-vector.svg");
  position: absolute;
  background-repeat: no-repeat;
  bottom: -1px;
}

.main-page-title {
  margin: 0 auto;
  text-align: center;
  padding: 69px 247.5px;
}

.main-page-title h2 {
  white-space: pre-line;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.main-page-title p {
  white-space: pre-line;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
  width: 651px;
}

/*ПРЕИМУЩЕСТВА*/
.advantages-flex, .advantages-flex-2 {
  display: flex;
  margin: 0;
  padding: 0;
}

.advantages-list {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.advantages-item {
  list-style-type: none;
  text-align: center;
  padding: 112.5px 85px;
}

.advantages-description,
.advantages-description-2 {
  background-color: #82B3D3;
  width: 400px;
}

.advantages-description h3,
.advantages-description-2 h3 {
  white-space: pre-line;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-top: 102px;
  width: 175px;
  margin-left: 112.5px;
}

/* Попытка # 890812321 внедрить палочку между h3 и p */
h3:after {
  content: "";
  width: 60px;
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
  display: block;
  position: relative;
  margin-top: 30px;
  margin-left: 57.5px;
}

.advantages-description p,
.advantages-description-2 p {
  white-space: pre-line;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #FFFFFF;
}

.advantages-item {
  list-style-type: none;
  width: 400px;
}

.advantages-item .advantages-name,
.services-advantages-item .services-advantages-name {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  width: 175px;
  height: 56px;
  margin-bottom: 0;
}

b:after  {
  content: "";
  width: 60px;
  height: 2px;
  background: rgba(0, 0, 0, 0.3);
  display: block;
  position: relative;
  margin-top: 30px;
  margin-left: 85px;
}

.advantages-item b {
  white-space: pre-line;
}

.advantages-item .advantages-review,
.services-advantages-item .services-advantages-review {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  margin-top: 30px;
}

/*НАСЛЕДОВАНИЕ ФОНОВ ДЛЯ БЛОКОВ*/
.advantages-list li:first-child {
  background: rgba(131, 179, 211, 0.12);
}

.advantages-list li:nth-child(2) {
  background: rgba(131, 179, 211, 0.2);
}

.advantages-list li:last-child {
  background: rgba(131, 179, 211, 0.12);
}

/*УСЛУГИ*/
.services-offer {
  margin: 0 auto;
  width: 505px;
  text-align: center;
  padding: 64px 347.5px;
}

.services-offer h2 {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.services-offer p {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
}

.services-advantages-list {
  margin: 0;
  padding: 0;
  display: flex;
  align-content: center;
}

.services-advantages-item {
  list-style-type: none;
  text-align: center;
  padding: 183px 85px 81px 85px;
}

.services-advantages-item:first-child:before {
  content: "";
  background-image: url("../images/icons/housing.svg");
  display: block;
  width: 75px;
  height: 72px;
  background-repeat: no-repeat;
  position: absolute;
}

.services-advantages-item:nth-child(2)::before {
  content: "";
  display: block;
  background-image: url("../images/icons/food.svg");
  width: 75px;
  height: 70px;
  background-repeat: no-repeat;
  position: absolute;
}

.services-advantages-item:last-child::before {
  content: "";
  display: block;
  background-image: url("../images/icons/souvenir.svg");
  width: 75px;
  height: 76px;
  background-repeat: no-repeat;
  position: absolute;
}

.services-advantages-item .services-advantages-name {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  text-align: center;
}

.services-advantages-item .services-advantages-review {
  white-space: pre-line;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #333333;
  width: 230px;
}

.services-advantages-list li:first-child {
  background: rgba(131, 179, 211, 0.12);
}

.services-advantages-list li:last-child {
  background: rgba(131, 179, 211, 0.12);
}

/*ЗАИНТЕРЕСОВАЛИСЬ?*/
.services-order {
  text-align: center;
  margin: 0 auto;
  padding: 96px 304px;
}

.services-order h2 {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.services-order p {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
}

.newsletter-flex {
  text-align: center;
  margin: 0 auto;
  padding: 96px 258px 104px 258px;
}

.newsletter {
  background-image: url("../images/footer-background.jpg");
  background-size: no-repeat;
  width: 100%;
  color: #FFFFFF;
}

.newsletter-sign-up h2 {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.newsletter-sign-up p {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
}

.button.newsletter-button {
  background: #82B3D3;
}

/*ПОДВАЛ ИНДЕКСА*/
.footer-page {
  color: #000000;
  background: white;
}

.footer-address {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 0;
  width: 100%;
}

.footer-address-social-list {
  padding: 0;
}

.footer-social-item {
  list-style-type: none;
  display: inline;
}

/*ПРОЗРАЧНЫЕ КНОПКИ СОЦСЕТЕЙ*/
.footer-social-item .button {
  background-color: rgba(5, 5, 5, 0);
}

/*ТЕЛЕФОН*/
.footer-address-phone-contact {
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  font-style: normal;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
}

/*КАТАЛОГ*/
.main-catalog {
  color: #FFFFFF;
  background-color: #82B3D3;
  background-image: url("../images/catalog-background.jpg");
  width: 100%;
  background-repeat: no-repeat;
  background-size: 100% auto;
  min-height: 412px;
}

.main-catalog-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  margin: 0;
}

.catalog-select-list,
.catalog-select-box,
.breadcrumbs-link {
  list-style-type: none;
  text-decoration: none;
  color: #FFFFFF;
}

/*ХЛЕБНЫЕ КРОШКИ*/
.breadcrumbs {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  list-style-type: none;
}

.catalog-select {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 1060px;
  margin: 0 auto;
}

.catalog-select-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
}

.catalog-select-item {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
}

.catalog-price-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
}

/*КНОПКИ ПРИМЕНИТЬ-СБРОСИТЬ*/
.button.button-apply {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background: #82B3D3;
}

.button.button-reset {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background: rgba(5, 5, 5, 0);
  border: 0;
}

/*НАЙДЕНО ГОСТИНИЦ*/
.find-hotels-search {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1060px;
  margin: 50px 70px 40px 70px;
}

.find-hotels-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  padding: 6.5px;
  margin: 0;
}

/*Боковые кнопки вида, временное отключение наследуемого стиля*/
.button.button-light {
  background: rgba(5, 5, 5, 0);
  color: #000000;
}

/*СНАЧАЛА ДЕШЕВЫЕ*/
.select-control {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  width: 292px;
  height: 49px;
}

.hotel-list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 40px 70px;
}

.hotel-item-link {
  text-decoration: none;
}

/*НАЗВАНИЯ ОТЕЛЕЙ*/
.hotel-item-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}

.hotel-item-type {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.hotel-item-price {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: right;
  color: #333333;
}

.hotel-item-select-button {
  background: #82B3D3;
}

.hotel-item-selected-button {
  background: #7DB54F;
}

/*РЕЙТИНГ*/
.hotel-item-rating {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
}

.pagination {
  display: flex;
  list-style-type: none;
  justify-content: space-evenly;
  margin: 0 auto;
}


/*СЕКЦИЯ ПОДПИСКИ НА РАССЫЛКУ*/
.newsletter-email-catalog h2 {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.newsletter-email-catalog p {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
}

.button.newsletter-button {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  border: 0;
}

/*ПОДВАЛ КАТАЛОГА*/
.footer-page {
  color: #000000;
  background: white;
}

.footer-address-social-item {
  list-style-type: none;
  display: inline;
}

.footer-address-social-item .button {
  background-color: rgba(5, 5, 5, 0);
}

.footer-address-phone-contact {
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  font-style: normal;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;

}
