@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;

}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;

}

body {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: black;
  background-color: #FFFFFF;

}

.page-header {
  color: black;
  background-color: #FFFFFF;

}

.navigation-link {
  text-decoration: none;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;

}

 .button {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #756157;

 }

.page-hero-logo {
  background-image: url("/images/hero-background.jpg");
  background-size: no-repeat;
  width: 1200px;
  height: 485px;

}

.main-page-title h2 {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;

}

.main-page-title p {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.advantages-description {
  background-color: #82B3D3;
}

.advantages-description h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;

}

.advantages-description p {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #FFFFFF;

}




.newsletter {
  background-image: url("/images/footer-background.jpg");
  background-size: no-repeat;
  width: 1200px;
  height: 414.86px;
}

.main-catalog {
  background-image: url("/images/catalog-background.jpg");
  background-size: no-repeat;
  width: 1200px;
  height: 412px;
}
